<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple</title>
</head>
<body>

        <div>

            <h1>1er cours</h1>
            <p>
                <a href="/api/french_spanish_translator">Traducteur Français vers Espagnol</a>
            <br>
            <a href="/api/french_english_translator">Traducteur Français vers Anglais</a>
            <br>
            <a href="/admin">Section administrateur</a>
            <br>
            <a href="api/all_translator/">Traducteur Français vers Espagnol</a>
            
            </p>
        </div>
    
</body>
</html>